@font-face {
    font-family: "Lato";
    src: url("https://fonts.googleapis.com/css?family=Lato:300,400,900")
}
body{
    font-family: "Lato", sans-serif;
}

ul{
    padding: 0;
    height: 40px;
    line-height: 30px;
    background-color: rgba(132, 179, 173, 1);
    text-align: center;
}

li{
    width: 100px;
    margin: 0 5px;
    padding: 5px 0;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}

li:hover{
    background-color: rgba(19, 94, 62, 1);
    padding: 5px 0;
}
li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}